body {
    width: 100%;
    height: 100%;
    font-family: "proxima-nova",sans-serif;
    color: #fff;
    background-color: #000;
}

html {
    width: 100%;
    height: 100%;
}
h1, h2{
    margin: 0 0 35px;
    text-transform: uppercase;
    font-family: "proxima-nova",sans-serif;
    font-weight: 100;
	font-size:25px;
}
h3{
	text-transform:none;
	font-size:18px;
	margin:0;
	}

p {
    margin: 0 0 25px;
    font-size: 14px;
    line-height: 1.8;
	font-weight: 100;
	font-family: "proxima-nova",sans-serif;
}

@media(min-width:768px) {
    
	h1, h2 {
	font-size:30px;
}
	
	p {
        margin: 0 0 35px;
        font-size: 18px;
    }
}

a {
    color: #ffffff;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

a:hover,
a:focus {
    text-decoration: none;
    color: #1d9b6c;
}

.light {
    font-weight: 400;
}

@media(min-width:768px) {
    .navbar-custom {
        padding: 20px 0;
        border-bottom: 0;
        letter-spacing: 1px;
        background: 0 0;
        -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
        transition: background .5s ease-in-out,padding .5s ease-in-out;
    }

    .navbar-custom.top-nav-collapse {
        padding: 0;
        border-bottom: 1px solid rgba(255,255,255,.3);
        background: #000;
    }
}

.intro {
    display: table;
    width: 100%;
    height: auto;
    padding: 100px 0;
    text-align: center;
    color: #fff;
  /*  background: url(../img/intro-bg.jpg) no-repeat bottom center scroll;
    background-color: #000; */
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.intro .intro-body {
    display: table-cell;
    vertical-align: middle;
}

.intro .intro-body .brand-heading {
    font-size: 40px;
}

.intro .intro-body .intro-text {
    font-size: 18px;
	text-transform: uppercase;
	letter-spacing: 5px;
	margin-top:30px;
}

@media(min-width:768px) {
    .intro {
        height: 100%;
        padding: 0;
    }

    .intro .intro-body .brand-heading {
        font-size: 100px;
    }

    .intro .intro-body .intro-text {
        font-size: 20px;
		text-transform: uppercase;
		letter-spacing: 15px;
		margin-top:50px;
    }
}

.btn-circle {
    width: 70px;
    height: 70px;
    margin-top: 15px;
    padding: 7px 16px;
    border: 2px solid #fff;
    border-radius: 100%!important;
    font-size: 40px;
    color: #fff;
    background: 0 0;
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
}

.btn-circle:hover,
.btn-circle:focus {
    outline: 0;
    color: #fff;
    background: rgba(255,255,255,.1);
}

.btn-circle i.animated {
    -webkit-transition-property: -webkit-transform;
    -webkit-transition-duration: 1s;
    -moz-transition-property: -moz-transform;
    -moz-transition-duration: 1s;
}

.btn-circle:hover i.animated {
    -webkit-animation-name: pulse;
    -moz-animation-name: pulse;
    -webkit-animation-duration: 1.5s;
    -moz-animation-duration: 1.5s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
}

@-webkit-keyframes pulse {    
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    50% {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@-moz-keyframes pulse {    
    0% {
        -moz-transform: scale(1);
        transform: scale(1);
    }

    50% {
        -moz-transform: scale(1.2);
        transform: scale(1.2);
    }

    100% {
        -moz-transform: scale(1);
        transform: scale(1);
    }
}
.about-text{
	width: 100%;
    padding: 100px 0;
    text-align: center;
    background-color: #d29232;
	
	}
.content-section {
	background-color:#d29232;
}	

@media(min-width:767px) {
    .content-section {
		background-color:#d29232;
    }

}

.btn{
    border-radius: 0;
    text-transform: uppercase;
    font-family: "proxima-nova",sans-serif;
    font-weight: 400;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
select, .input-lg, .c-select {
    text-transform: uppercase;
    font-family: "proxima-nova",sans-serif;
    font-weight: 200;
	height:65px !important;
	padding:10px;
	border: 1px solid #414042;
	}
.form-control{
	color:#414042;
	}	
.btn-lg {
	padding: 25px 30px;
	}
	

.btn-default {
    border: 1px solid #ffffff;
    color: #ffffff;
    background-color: transparent;
}

.btn-default:hover,
.btn-default:focus {
    border: 1px solid #414042;
    outline: 0;
    color: #414042;
	background-color: transparent;
}


.modal .btn-default {
    border: 1px solid #414042;
    color: #414042;
    background-color: transparent;
	width:100%;
}
.modal{
	z-index:100000
	}

.modal .row {
    margin:20px auto;
}

.modal .btn-default:hover,
.modal .btn-default:focus {
    border: 1px solid #d29232;
    outline: 0;
    color: #d29232;
	background-color: transparent;
}
.modal-header{
	border:none;
	background-color:#d29232;
	text-align:center;
	}
.modal-content{
	border-radius:0px;
	}
.modal-sub{
	color:#414042;
	text-align:center;
	}		
.close{
	font-weight:200;
	color:#ffffff;
	text-shadow:none;
	opacity:1;
	}
	
/****VIDEO****/

	#video-viewport {
    position: absolute;
 	right: 0;
 	bottom: 0;
 	min-width: 100%;
 	min-height: 100%;
 	width: auto;
 	height: auto;
    top: 0;
    overflow: hidden;
    z-index: 0; /* for accessing the video by click */
	max-height:100vh;
	
	-webkit-animation: showVideo .6s forwards 1s;
  	animation: showVideo .6s forwards 1s;
	
}

#wistia_grid_15_wrapper, .wistia_responsive_padding, .wistia_responsive_wrapper, #wistia_chrome_11, #wistia_grid_15_main{
	min-width: 100% !important;
 	min-height: 100% !important;
	width: auto;
 	height: auto;
	max-height:100vh;
	}

#debug {
    position: absolute;
    top:0;
    z-index: 100;
    color: #fff;
    font-size: 12pt;
}
	
/****MEET YOUR MENTORS****/
.mentor {
    padding: 100px 0;
    background-color: #e9e9e9;
    text-align: justify;
}

.mentor .lead {
    font-weight: 400;
	color:#d29232;
}

.mentor h2 {
    text-align: center;
	color:#d29232;
}

.mentor-bio {
    background-color: #FFF;
    margin: 20px 0;
    padding: 50px;
    border: 1px solid #DEDEDE;
}

.mentor p {
    font-size: 13pt;
    font-weight: 200;
	color:#555;
}

.mentor-bio .line {
    margin: 0px;
    margin-bottom: 2em;
}	

ul.banner-social-buttons {
    margin-top: 0;
}

@media(max-width:1199px) {
    ul.banner-social-buttons {
        margin-top: 15px;
    }
}

@media(max-width:767px) {

	.intro{
	background: url(../img/hero-video.jpg) no-repeat bottom center scroll;
    background-color: #000;
	} 

	ul.banner-social-buttons li {
        display: block;
        margin-bottom: 20px;
        padding: 0;
    }

    ul.banner-social-buttons li:last-child {
        margin-bottom: 0;
    }
	
	.mentor img {
        margin: 0 auto;
        padding-bottom: 30px;
    }

    .mentor .lead {
        font-size: 30px;
        text-align: center;
        margin-top: 20px;
    }

    .mentor-bio .line {
        margin: 30px auto;
    }

    .mentor-bio {
        padding: 45px 25px;
    }
}

footer {
    padding: 100px 0;
}

footer p {
    margin: 0;
	font-size:11px;
}

.foot-img{
	margin-bottom:50px;	
	}

::-moz-selection {
    text-shadow: none;
    background: #fcfcfc;
    background: rgba(255,255,255,.2);
}

::selection {
    text-shadow: none;
    background: #fcfcfc;
    background: rgba(255,255,255,.2);
}

img::selection {
    background: 0 0;
}

img::-moz-selection {
    background: 0 0;
}

body {
    webkit-tap-highlight-color: rgba(255,255,255,.2);
}


#video-viewport {
    z-index:-30;
}

/****SOCIAL MEDIA ICONS****/

.social-wrap {
	margin-top: 25px;
}